.max{
	width: 100%; 
	position: absolute; 
	top:45px; 
	bottom:56px;
	display: flex;
	overflow: hidden; 
}
.pic{ filter: blur(5px);
	width: 100%; 
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background-image:url(/images/detailsBg.jpg); 
	background-size: cover;
	background-position:center;
	color:white; 
}
.max .picMove{ 
	width:200px; 
	height:200px; 
	border-radius: 50%; 
	overflow: hidden; 
	margin: auto;
}
.max img{ 
	width:100%; 
	height:100%;
}
.max .picMove{ 
	animation:10s linear moveRun infinite; 
	animation-play-state:paused; 
}
@keyframes moveRun{
	0%{ 
		transform : rotate(0deg); 
	}
	100%{ 
		transform : rotate(360deg); 
	}
}
.pic .mtk{
	width: 100%; 
	position: absolute; 
	top:0;
	bottom:0;
	background: rgba(0,0,0,.5);
}