.index{
    padding-top: 50px;
}
.nav{
    top:50px;
    width:100%;
	display:-webkit-box;
    background: #fff;
    position: fixed;
    z-index: 1000;
    border-bottom:1px solid #f0f0f0;
}
.nav a{
	-webkit-box-flex: 1;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: rgba(0,0,0,.6);
    text-decoration:none;
    border-bottom:2px solid transparent;
}

.nav .active{
	color: #d43c33;
	border-bottom: 2px solid #d43c33;
}